@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap");

.aboutPage{
  /* height: 1000px; */
  position: relative;
}

.aboutAll{
  
}

.paras{

  font-family: 'Josefin Sans';
}

.aboutVedic{
  position: absolute;
  top: 50px;
  background-color:azure;
  margin-left: 5%;
  margin-right: 5%;
  width: 75%;
  left: 100px;
}

.aboutContent{

  
}

.aboutContent-t{
  width: 70%;
  margin-top: 2%;
  margin-left: 2%;
  text-align: justify;
 
}
.maharaj{
  width: 17%;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
}

.float-child{
  float: left;
}


.benefits {
  margin-top: 4%;
  width: 50%;
  text-align: left;
  margin-left: 10%;
  color: green;
  font-size: 20px;
  font-family: "Josefin Sans", cursive;
}

.benefits h1 {
  text-align: center;
}
.sutras {
  margin-top: 4%;
  width: 60%;
  text-align: left;
  margin-left: 20%;
  color: green;
  font-size: 18px;
}
.sub-sutras {
  margin-top: 4%;
  width: 100%;
  text-align: left;
  margin-left: 0%;
  color: green;
  font-size: 18px;
}

#table1 tr:nth-child(even) {
  background-color: #eee;
}
#table1 tr:nth-child(even) :hover {
  background-color: rgb(197, 197, 197);
}
#table1 tr:nth-child(odd) {
  background-color: rgb(84, 189, 137);
}
#table1 tr:nth-child(odd) :hover {
  background-color: rgb(70, 160, 115);
}
#table1 th {
  background-color: white;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.head{
  font-family: 'Abril Fatface', cursive;
  color: #049c7a  
}
.benefits{
  padding-top: 2%;
  padding-bottom: 0%;
  background: aliceblue;
  border-radius: 5px;
  position: absolute;
  top: 300px;
  left:15%

}
.sHead{
font-size: 40px;
}