.cardDeck{
    display: flex;
    justify-content: center;
    align-items: center;
}
.k:hover {
    /* border-radius: 0px !important; */
    box-shadow: 5px 10px;
    transition: 0.3s ease-in;
    transform: scale(1.1);
  }
  .jumbotron {
    /* background-color: aquamarine; */
    background-color: rgba(134, 241, 206, 0.08);
    /* backgroundo; */
  }
  
  .bu:hover {
    background-color: black;
    transform: scale(1.1);
  }
  @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
  .JumboHeading {
    font-size: 50px;
    font-family: 'Anton', sans-serif; 
    color: darkcyan
  }
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
  .l{
    padding-top: 2%;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    color: darkcyan
  }
  .learning{
    background-color: rgb(0, 168, 168);
    border-radius: 20px;
    height: 500px;
  }
  .homePage{
    /* background-color: red; */
    transform:translateY(-700px);
    height: 000px;
    /* background-color: rgba(0,0,0,0.1); */
  }