.nav-body{
    background-color: rgb(88, 199, 143);
    background-color: darkcyan;
       
}
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
.appName{
    font-size: 30px;
    font-family: 'Teko', sans-serif;
}