.k:hover {
  /* border-radius: 0px !important; */
  box-shadow: 5px 10px;
  transition: 0.3s ease-in;
  transform: scale(1.1);
}

.bu:hover {
  background-color: black;
  transform: scale(1.1);
}

.h {
  font-size: 50px;
}
body{
  background-color: aquamarine;
}
.pageBack{
  z-index: -1;
}

@import url('https://fonts.googleapis.com/css2?family=Georama:wght@600&display=swap');
.cardTitle{
  font-family: 'Georama', sans-serif;
  font-size: 20px;
}